* {
    font-family: Verdana;
    font-weight: normal;
    border: none;
    padding: 0;
    margin: 0;
  }
  body {
    background-color: black;
  }
  /*header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    margin: auto;
  }*/
  .header h1 {
    font-size: 50px;
    color: white;
    text-align: center;
    border: 1px solid red; 
  }
 #text {
    padding: 20px;
    text-align: center;
    width:100%;
    margin: auto;
}

p a {
    color:aquamarine;
    font-size: 16px;
}

section {
    text-align: center;
}

h2 {
    font-weight: 300;
    font-size: 42px;
    color: white;
    text-align: center;
    padding:10px;
}

p {
    font-size: 21px;
    color: grey;
    padding: 6px;
    text-align: center;
}



footer p{
    text-align: right;
    color: gray;
    font-size: 14px;

}